<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Bootstrap core CSS -->
<link
	href="http://cdn.jsdelivr.net/webjars/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/4.0.0-beta.2/css/bootstrap.min.css}"
	rel="stylesheet" media="screen" type="text/css" />

<link href="../css/jumbotron.css" th:href="@{/css/jumbotron.css}"
	rel="stylesheet" media="screen" type="text/css" />
<link href="../css/signin.css" th:href="@{/css/signin.css}"
	rel="stylesheet" media="screen" type="text/css" />

<title>Hotmessage</title>
</head>
<body>

	<div class="container">
		<h2 class="form-signin-heading">Logged</h2>

		<a href="/logout" th:href="@{/logout}">Logout</a>
		<!--  
		<form class="form-signin" id="logoutForm" th:object="${user}"
			th:method="post">
			<label for="name" class="sr-only">User:</label> <input type="text"
				th:value="*{name}" th:field="*{name}" readonly="readonly" />

		</form>
	-->
	</div>

</body>
</html>
