<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Bootstrap core CSS -->
<link
	href="http://cdn.jsdelivr.net/webjars/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/4.0.0-beta.2/css/bootstrap.min.css}"
	rel="stylesheet" media="screen" />

<link href="../jumbotron.css" th:href="@{/jumbotron.css}"
	rel="stylesheet" />
<link href="../signin.css" th:href="@{/signin.css}" rel="stylesheet" />

<title>Hotmessage</title>
</head>
<body>
	<!-- 
	<div th:replace="fragments/header :: header">&nbsp;</div>
	<br />
	<br />
	<br />
	<div class="container">
		<div th:replace="fragments/login :: login">&nbsp;</div>
	</div>
	-->

	<div class="container">
		<form class="form-signin" id="registerForm" th:method="post">
			<h2 class="form-signin-heading">Registration</h2>

			<label for="inputLogin" class="sr-only">Login</label> 
			<input type="text" id="name" class="form-control" placeholder="Login" th:field="${user.name}" /> 
			
			<label for="inputPassword" class="sr-only">Password</label>
			<input type="password" id="password" class="form-control" placeholder="Password" th:field="${user.password}" />

			<button class="btn btn-lg btn-primary btn-block" form="registerForm" type="submit">Sing up</button>
			<a href="/" th:href="@{/}">Login</a>
		</form>

	</div>

</body>
</html>
